[MASTER]

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code
extension-pkg-whitelist=PyQt5, pygame, pywin32

ignore=migrations

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

[MESSAGE CONTROL]

disable=duplicate-code
